# Build related files
build/
*.o
*.mod
*.out
*.sw*
*.swo
*.F90~
*.F90.swo
*.F90.swp
src/build/
voronoi

# Testing / running artifacts
*.stor
*.lgi
*.jpg
*.gmv
*.DS_Store
internal/

# Documentation
docs/html/
